body {
  background-color: rgb(207, 255, 179);
  font-size: 1em;
  line-height: 22px;
}

header {
  position: fixed;
  top: 0;
  background-color: rgb(49, 145, 119);
  width: 100%;
  left: 0;
}

img {
  width: 10%;
  border-radius: 100%;
  float: right;
  margin-right: 5%;
  padding-left: 2%;
}

aside {
  width: 15%;
  float: right;
  margin-top: 3%;
}

main {
  margin-top: 10%;
}

article {
  padding-top: 2%;
}

.listas-licoes {
  display: inline-block;
  border-radius: 20px;
  margin-left: 10%;
}

nav ul li {
  display: inline-block;
  padding: 10px 5px;
}

ol li:hover {
  color: rgb(219, 80, 74);
}

ul li:hover {
  color: rgb(219, 80, 74);
}

table {
  border-collapse: collapse;
  width: 35%;
  margin-left: 32%;
  margin-bottom: 3%;
}

h3 {
  text-align: center;
  padding: 5px;
  margin-top: 3%;
}

td , th {
  border: 2px solid black;
  text-align: left;
}

tr:nth-child( even ) {
  background-color: rgb(45, 49, 66);
  color: rgb(217, 219, 241);
}

nav ul li:hover {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

p {
  padding: 2px;
}

.lado-esquerdo {
  width: 40%;
  float: right;
}

.lado-direito {
  width: 20%;
  margin-left: 3%;
}
