body {
    background-color: rgb(253, 251, 251);
    font-size: 1em;
    line-height: 22px;
}

header {
    position: fixed;
    top: 0;
    background-color: #32936f;
    width: 100%;
}

img {
    width: 10%;
    border-radius: 100%;
    float: right;
    margin-right: 20%;
    padding-left: 2%;
}

aside {
    margin-top: 3%;
    width: 15%;
    float: right;
}

main {
    margin-top: 15%;
}

.listas-licoes {
    display: inline-block;
    border-radius: 20px;
    margin-left: 10%;
}
ol li:hover {
    color: #db504a;
}

ul li:hover {
    color: #db504a;
}


table {
    border-collapse: collapse;
    width: 35%;
    margin-left: 32%;
    margin-bottom: 3%;
}

h3 {
    text-align: center;
    padding: 5px;
}

td, th {
    border: 2px solid black;
    text-align: left;
}

tr:nth-child(even) {
    background-color: gray;
}

nav ul li {
    display: inline-block;
    padding: 10px 5px;
}

nav ul li:hover {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace
}

p {
    padding: 2px;
}