body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0;
}

img {
    width: 30%;
}

table {
    border-collapse: collapse;
    width: 30%;

}

td, th {
    border: 2px solid black;
    text-align: left;
}

tr:nth-child(even) {
    background-color: gray;
}